.auth__form-container{
    min-height: 100vh;
    color: black;
}
.auth__form-container form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: orange;
    border-radius: 50px;
    display: flex;
    height: auto;
    width: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.auth__form-container_fields{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.auth__form-container_fields input{
    background-color: black;
    color: orange;
    height: 30px;
    border-radius: 5px;
}
.auth__form-container_fields-content_button{
    margin: 10px;
}
.auth__form-container_fields-content_button button{
    padding: 20px;
    background-color: black;
    color: orange;
    height: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: center;
    align-items: center;
}
.auth__form-container_fields-content_button button:hover{
    background-color:  orange;
    color: black;
    border: 1px solid black;
}
.auth__form-container_fields-content_sign{
    padding: 10px;
}
.auth__form-container_fields-content_sign span:hover{
    cursor: pointer;
    background-color: black ;
    color: orange;
    margin-left: 3px;
    border-radius: 5px;
}
