@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
  html{
    @apply container bg-blue-600 h-full w-screen
  }
  body{
    @apply flex justify-center items-center w-screen border h-full
  }
}
@layer components{
  .nav-items{
    @apply p-8 text-xl text-white
  }
  .setting-input-container{
    @apply flex justify-center items-center flex-col w-full my-1
  }
  .setting-input{
    @apply my-1 w-11/12 rounded-lg pl-2 text-center text-black
  }
  .auth-input-container{
    @apply flex justify-center items-center flex-col  w-96 my-1
  }
  .auth-input{
    @apply my-1 w-10/12 rounded-lg pl-2 text-center text-black
  }
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #15151a;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #121216; 
  }