.container__messages-individual_all-user{
    height: 100%;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.container__messages-individual_sender{

    height: 100%;
    width: 100%;
    overflow: hidden;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.container__messages-individual_admin{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}
/*////////////////// vvvvvvv ///////////////////*/ 
.container__message-user_info{
    
    display: flex;
    align-items: flex-end;
}
.container__message-user_picture{
    background: white;
    height: 50px;
    min-width: 50px;
    max-width: 50px;
    border-radius: 50%;
}
.container__message-user_name{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    
    

}
.container__message-user_text{
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    
    /* background: yellow; */

}
.container__message-user_name-message_all-user{
    max-width: 500px;
    min-width: 100px;
    height: 100%;  
    padding: 10px;

    background: #f3f3f3;
    color: black;
}
.container__message-user_name-message_sender{
    max-width: 500px;
    min-width: 100px;
    height: 100%;  
    padding: 10px;

    background: #00B2FF;
    color: white;
}
.container__message-user_name-message_admin{
    max-width: 500px;
    min-width: 100px;
    height: 100%;  
    padding: 10px;
}